* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;

  line-height: 1.6;
  background-color: #f3f3f3;
}

main {
  padding: 2%;
  margin: 2%;
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

main h2 {
  margin-bottom: 20px;
  color: #027e6f;
}

tr:first-child td {
  border-top: none;
}
tr:last-child td {
  border-bottom: none;
}
td:first-child {
  border-left: none;
}
td:last-child {
  border-right: none;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 10px;
  overflow: hidden;
  border-spacing: 0;
}

table th,
table td {
  padding: 12px;
  border: 0.5px solid #dddddd;
  text-align: center;
}

table th {
  background-color: #027e6f;
  font-size: medium;
  text-align: center;
  color: white;
}

table td {
  font-size: medium;
  color: #342e37;
  background-color: #f3f3f3;
}

.a-link {
  color: #027e6f;
  text-decoration: none;
}

.a-link:hover {
    color:  #02a793;
}

.progress-bar {
  width: 100%;
  background-color: #f0f0f0;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
}

.progress {
  height: 20px;
  background-color: #4caf50;
  color: #ffffff;
  line-height: 20px;
  text-align: center;
}

@media (max-width: 1050px) {
  table th,
  table td {
    text-align: center;
    font-size: 50%;
  }

  /* main h2 {
    font-size: 100%;
} */
}
