@import url("https://fonts.googleapis.com/css2?family=Lato:wght@400;700&family=Poppins:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}
li {
  list-style: none;
}
html {
  overflow-x: hidden;
}
:root {
  --poppins: "Poppins", sans-serif;
  --lato: "Lato", sans-serif;

  --light: #f9f9f9;
  --blue: #027e6f;
  --light-blue: #cfe8ff;
  --grey: #eee;
  --dark-grey: #aaaaaa;
  --dark: #342e37;
  --light-dark: #555555;
  --red: #db504a;
  --yellow: #ffce26;
  --light-yellow: #fff2c6;
  --orange: #fd7238;
  --light-orange: #ffe0d3;
}
body.dark {
  --light: #0c0c1e;
  --grey: #060714;
  --dark: #fbfbfb;
}
body {
  font-family: Arial, sans-serif;
  background: var(--grey);
  line-height: 1.6;
  overflow-x: hidden;
}

#content {
  position: relative;
  width: calc(100% - 280px);
  left: 280px;
  transition: 0.3s ease;
}
#sidebar.hide ~ #content {
  width: calc(100% - 60px);
  left: 60px;
}
#content main {
  width: 100%;
  padding: 36px 24px;
  font-family: var(--poppins);
  max-height: calc(100vh - 56px);
  overflow-y: auto;
}
#content main .head-title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  grid-gap: 16px;
  flex-wrap: wrap;
}
#content main .head-title h1 {
  font-size: 36px;
  font-weight: 600;
  margin-bottom: 10px;
  color: var(--dark);
}

.forums-h2 {
  font-size: 24px;
  color: var(--dark);
  margin: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 20px;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  color: var(--dark);
}

table th {
  background-color: var(--blue);
  color: var(--light);
  padding: 11px;
  text-align: left;
  font-size: 18px;
}
.forum-id-th {
  width: 10%;
}
.forum-title-th {
  width: 14%;
}
.forum-content-th {
  width: 66%;
}
.forum-actions-th {
  width: 10%;
  text-align: center;
}

table td {
  background-color: var(--light);
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;
  font-size: 16px;
}

table tbody tr:hover {
  background-color: var(--grey);
}

.forum-actions-td {
  text-align: center;
  font-size: large;
}
.a-link {
  color: var(--blue);
  font-weight: bold;

  text-decoration: none;
}

.a-link:hover {
  text-decoration: underline;
  color: var(--red);
}

@media (max-width: 1050px) {
  table th,
  table td {
    text-align: center;
    font-size: 50%;
  }

  /* main h2 {
    font-size: 100%;
} */
}
