@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

* {
  font-family: "Outfit", sans-serif;
  scroll-behavior: smooth;
}

.navheader {
  color: #027e6f;
  font-family: "Outfit", sans-serif;
  font-size: 2em;
  font-weight: bold;
  margin-bottom: 0;
}

.navbar {
  padding: 20px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 80%;
  margin: auto;
  line-height: 1.2;
}

.nav-link {
  text-decoration: none;
  color: inherit;
  margin-bottom: 2px;
}

.navbar .logo {
  width: 150px;
}

.navbar-menu {
  display: flex;
  list-style: none;
  gap: 30px;
  color: #49557e;
  font-size: 18px;
  margin-bottom: 0;
  padding-left: 0;
}

.navbar-right {
  display: flex;
  align-items: center;
  gap: 30px;
}

.navbar button {
  background: transparent;
  font-size: 16px;
  color: #00231f;
  border: 1px solid #00231f;
  padding: 10px 30px;
  border-radius: 50px;
  cursor: pointer;
  transition: 0.3s;
  line-height: 1.6;
}

.navbar button:hover {
  background-color: #027e6f;
  color: whitesmoke;
}

.navbar .active {
  padding-bottom: 2px;
  border-bottom: 2px solid #49557e;
}

.navbar li {
  cursor: pointer;
}

.navbar-search-icon {
  position: relative;
}

.navbar-search-icon .dot {
  position: absolute;
  min-width: 10px;
  min-height: 10px;
  background-color: tomato;
  border-radius: 5px;
  top: -8px;
  right: -8px;
}

.profile-photo {
  width: 50px;
  height: 50px; 
  overflow: visible;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  max-width:  50px;
  max-height: 50px; 
}

#profile-icon {
  transition: background-color 0.3s ease, color 0.3s ease;
}

#profile-icon:hover {
  cursor: pointer;
  color: #027e6f;
}

.notification-dot {
  position: absolute;
  top: 4%;
  right: 0px;
  width: 10px;
  height: 10px;
  background-color: red;
  border-radius: 50%;
  display: none;
}

.profile-photo.active .notification-dot {
  display: block;
} 

.logout-icon i {
  transition: background-color 0.3s ease, color 0.3s ease;
}
.logout-icon i:hover {
  cursor: pointer;
  color: #dc143c;
}

::-webkit-scrollbar {
  display: none;
}

.popup {
  display: none; 
  position: fixed;
  z-index: 1000; 
  inset: 0; 
  padding-top: 10vh;
  background-color: rgba(0, 0, 0, 0.6); 
  transition: opacity 0.3s ease-in-out; 
}

.popup-content {
  background-color: #f9f9f9;
  color: #342e37;
  margin: auto;
  padding: 25px;
  border: 1px solid #eee;
  border-radius: 8px; 
  width: 90%; 
  max-width: 350px;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); 
  animation: fadeIn 0.4s ease-in-out;
}

.popup-content button {
  margin: 10px;
  padding: 12px 18px;
  background-color:#027e6f;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  width: max-content;
  transition: background-color 0.3s, transform 0.2s;
}

.popup-content button:hover {
  background-color: #02a793;
  font-weight: 600; 
}

/* xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx */

/* Responsive media queries */
@media (max-width: 1050px) {
  .navbar .logo {
    width: 140px;
  }

  .navbar-menu {
    gap: 20px;
    font-size: 17px;
  }

  .navbar-right {
    gap: 30px;
  }

  .navbar-right img {
    width: 22px;
  }

  .navbar-right button {
    padding: 8px 25px;
  }
  .navheader {
    font-size: 1em;
  }
}

@media (max-width: 900px) {
  .navbar .logo {
    width: 120px;
  }

  .navbar-menu {
    gap: 15px;
    font-size: 16px;
  }

  .navbar-right {
    gap: 20px;
  }

  .navbar-right img {
    width: 20px;
  }

  .navbar-right button {
    padding: 7px 20px;
    font-size: 15px;
  }
}

@media (max-width: 750px) {
  .navbar-menu {
    gap: 15px;
    font-size: 8px;  
    text-align: center;

  }
  .navbar-right {
    gap: 15px;
    padding-left: 10px;

  }
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
