* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

.navbar{
    width:  100%;
    padding: 2% ;
}

.StudentManagementBody {
    
    font-family: Arial, sans-serif;
    background-color: #f3f3f3;
    color: #333;
    line-height: 1.6;
}

.StudentManagementMain {
    padding: 2%;
    margin: 2%;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
}

.StudentManagementMain h2 {
    margin-bottom: 20px;
    color: #027e6f;
}

/* .Group-Container{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: red;

} */

.Group-Container {
  display: flex;
  justify-content: space-between; 
  /* gap: 20px;  */
}

.Left-Group-Container{
    display: flex;
    flex-direction: row;
    width: 70%;
}

.Right-Group-Container{
    display: flex;
    flex-direction: row;
    width: 30%;
}

.create-group-btn , .edit-group-btn{
    width: 30%;
    height:80%;
    margin-left: 2%;
    font-size: 100%; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    background-color: #027e6f; 
    text-align: center;
    color: #f9f9f9;
    transition: background-color 0.3s ease, color 0.3s ease;  
}
.create-group-btn:hover , .edit-group-btn:hover{
    color: #f9f9f9;
    background-color: #00231F; 
    cursor: pointer;
}
.delete-group-btn{
    width: 30%;
    height:80%;
    margin-left: 2%;
    font-size: 100%; 
    border: 1px solid #ccc; 
    border-radius: 10px;
    background-color: #027e6f; 
    text-align: center;
    color: #f9f9f9;
    transition: background-color 0.3s ease, color 0.3s ease;  
}

.delete-group-btn:hover {
    background-color: #DC143C; 
    cursor: pointer;

}



.Group-Selection {
    width: 45px;
    height: 45px;
    margin-left: 2%;
    font-size: 16px; 
    border: 1px solid #ccc; 
    border-radius: 5px;
    background-color: #027e6f; 
    text-align: center;
    color: #f9f9f9;
    /* appearance: none;  */
    outline: none; 
    transition: all 0.3s ease; 
  }
  
  .Group-Selection:hover {
    cursor: pointer;
  }
  
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px solid #dddddd; 
    margin-bottom: 20px;
}
table th:nth-child(1), table td:nth-child(1) {
    width: 5%;  
}

table th, table td {
    width: 20%;
    padding: 12px;
    border: 1px solid #dddddd;
    text-align: center;
}

table th { 
    background-color: #e9e9e9;
    font-size:large;
    text-align: center;
}

table td {
    font-size: medium;
}

.View-Profile-btn{
    background-color: #027e6f; 
    text-align: center;
    font-size: 16px; 
    color: #f9f9f9;
    transition: background-color 0.3s ease, color 0.3s ease;  
    border: 1px solid #ccc; 
    border-radius: 5px;
    width: 12%;
    height:100%;

}

.View-Profile-btn:hover{
    background-color: #00231F; 
    cursor: pointer;
}

.Delete-std-btn , .Edit-std-btn{
    background-color: #027e6f; 
    text-align: center;
    font-size: 100%; 
    color: #f9f9f9;
    transition: background-color 0.3s ease, color 0.3s ease;  
    border: 1px solid #ccc; 
    border-radius: 5px;
    width: 15%;
    height:100%;

}

.Delete-std-btn:hover{
    background-color: #DC143C; 
    cursor: pointer;
}

.Edit-std-btn:hover{
    background-color: #00231F; 
    cursor: pointer;
}


/* <-------------------------------------------------------------------------------------------------------> */
.modal {
    display: none; /* Hidden by default */
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal-content {
    background-color: white;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 25%;
    text-align: center;
}

.modal-content button {
    margin: 10px;
}

#no-btn , #yes-btn , #save-btn ,#cancel-edit-btn{
    background-color: #027e6f; 
    text-align: center;
    font-size: 100%; 
    color: #f9f9f9;
    transition: background-color 0.3s ease, color 0.3s ease;  
    border: 1px solid #ccc; 
    border-radius: 5px;
    width: 15%;
    height:100%;

}
#yes-btn:hover{
    background-color: #DC143C; 
    cursor: pointer;
}
#no-btn:hover , #save-btn:hover ,#cancel-edit-btn:hover{
    background-color: #00231F; 
    cursor: pointer;
}



@media (max-width: 1050px){

table th, table td {
    text-align: center;
    font-size: 50%;
} 

/* main h2 {
    font-size: 100%;
} */

}



